## System authorization information
auth --enableshadow --passalgo=sha512

## Use CDROM installation media
#cdrom

## Use graphical install
#graphical
text

## Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda

## Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

## System language
lang en_US.UTF-8

## Network information
#network  --bootproto=dhcp --device=enp0s25 --onboot=off --ipv6=auto --no-activate
network  --hostname=rhhost1

## Root password   username: root, password:password - use grub-crypt --sha-512 to create a new password
rootpw --iscrypted $6$ECqZP9cuaLnmEKgw$YVwZ2MgqIgw1Zb5SSDqIykc9469sH2qsYG9qARPs2jTFC3YsCx5E5F.nP3D4gke4xGlwnngKjSxO/vRoFpxlT1

## System services
services --enabled="chronyd"
services --enabled="acpid"

## System timezone
timezone America/Vancouver

## Create first username: user1, password:password - use grub-crypt --sha-512 to create a new password
user --groups=wheel --name=user1 --password=$6$mz8E2/m5Xun3bur0$ezkuRC0ClDZWqU5C0581r/Sjq0EtMUxnojFJJPlJ.ayLirPVzSP3uqfR63R3JQkzG49WSrm4.TsPvj6JBThaa0 --iscrypted --gecos="User One"

## X Window System configuration information
xconfig  --startxonboot

## System bootloader configuration
#bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda "console=tty0 console=ttyS0,115200"

## Partition clearing information
clearpart --all --initlabel --drives=vda

## Manual Disk partitioning information
#part /boot --fstype="xfs" --ondisk=vda --size=1024
#part pv.247 --fstype="lvmpv" --ondisk=vda --size=121079
#volgroup studio --pesize=4096 pv.247
#logvol /  --fstype="xfs" --size=20480 --name=root --vgname=rhcsa
#logvol swap  --fstype="swap" --size=1996 --name=swap --vgname=rhcsa
#logvol /home  --fstype="xfs" --size=98600 --name=home --vgname=rhcsa

## Auto partitioning
autopart


%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
acpid
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
